body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html,body,h1,h2,h3,h4,h5,h6 {
  font-family: "Roboto", sans-serif
}

.margin-left-30 {
  margin-left: 30px;
}

.color1 {
  color: steelblue;
}

.background1 {
  background-color: steelblue;
  color: white;
}

.color2 {
  color: darkorange;
}

.background2 {
  background-color: darkorange;
  color: white;
}

.uppercase {
  text-transform: uppercase;
}